@model Spice.Models.ViewModels.OrderDetailsViewModel
@using Spice.Utility

<form asp-action="OrderPickup"  asp-controller="Order" asp-route-orderId="@Model.orderHeader.Id" method="post">
    <div class="container row border ms-1 backgroundWhiteBorder10Padding" style="width:100%">
        <div class="col-lg-8 col-12" style="border-right:1px solid #bbb9b9">
            <br />
            <input type="hidden" asp-for="orderHeader.Id" />

            <div class="form-group row">
                <div class="col-3">
                    <label>Name</label>
                </div>
                <div class="col-9">
                    <input asp-for="orderHeader.PickUpName" disabled class="form-control" />
                </div>
            </div><br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="orderHeader.ApplicationUser.Email"></label>
                </div>
                <div class="col-9">
                    <input asp-for="orderHeader.ApplicationUser.Email" disabled class="form-control" />
                </div>
            </div><br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="orderHeader.ApplicationUser.PhoneNumber"></label>
                </div>
                <div class="col-9">
                    <input asp-for="orderHeader.ApplicationUser.PhoneNumber" disabled class="form-control" />
                </div>
            </div><br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="orderHeader.OrderTotal"></label>
                </div>
                <div class="col-9">
                    <input asp-for="orderHeader.OrderTotal" disabled class="form-control" />
                </div>
            </div><br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="orderHeader.PickUpTime"></label>
                </div>
                <div class="col-9">
                    <input value="@Model.orderHeader.PickUpTime.ToShortDateString() @Model.orderHeader.PickUpTime.ToShortTimeString()" disabled class="form-control" />
                </div>
            </div><br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="orderHeader.Comments"></label>
                </div>
                <div class="col-9">
                    <input asp-for="orderHeader.Comments" disabled class="form-control" />
                </div>
            </div>
        </div>



        <div class="col-lg-4 col-12">
            <h4 class="d-flex justify-content-between align-content-center mb-3">
                <span class="text-muted">Order ID : </span>
                <span class="badge bg-secondary rounded-pill">@Model.orderHeader.Id</span>
            </h4>
            <ul class="list-group mb-3">
                @{var total = 0.0;}
                @foreach(var details in Model.orderDetails)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">@details.Name</h6>
                            <small class="text-muted">Quentity : @details.Count</small>
                        </div>
                        <span class="text-muted">@(details.Price * details.Count)</span>
                        @{total += (details.Price * details.Count);}
                    </li>
                }
                @if (Model.orderHeader.CouponsCode != null)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 class="my-0">Promo Code</h6>
                            <small>@Model.orderHeader.CouponsCode</small>
                        </div>
                        <span class="text-success">@(Model.orderHeader.OrderTotalOriginal - Model.orderHeader.OrderTotal)</span>
                       
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between bg-white">
                    <span class="text-info">Total(USD)</span>
                    <strong class="text-info">$@Model.orderHeader.OrderTotal</strong>

                </li>

            </ul> 
            @if (Model.orderHeader.Status.Equals(SD.StatusReady) && (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.FrontDeskUser)))
            {
                <button type="submit"  class="btn btn-success form-control"><i class="far fa-thumbs-up"></i> Confirm Pickup</button>
            }
            else
            {
                <button type="submit" disabled class="btn btn-info form-control">@Model.orderHeader.Status</button>
            }
        </div>  




    </div>

</form>

